table {
    margin: 15px 0;
    border-collapse: collapse;
    width: 100%;
    padding: 0;
}
table tr {
    border: none;
    background-color: white;
    margin: 0;
    padding: 0;
}
table tr:nth-child(2n) {
    background-color: white;
}
table tr th {
    font-weight: bold;
    border: none;
    text-align: left;
    margin: 0;
    padding: 4px 13px 4px 0;
    display: none;
}
table tr td {
    border: none;
    text-align: left;
    margin: 0;
    padding: 4px 13px 4px 0;
}
